@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" >
        <button class="btn-primary" asp-page-handler="SignUp">Sign Up</button>
        <button class="btn-primary" asp-page-handler="SignIn">Sign In</button>
    </form>
    
</div>

