@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <button class="btn-primary">Sign Up</button>
    </form>
    
    <form method="post">
        <button class="btn-primary">Sign In</button>
    </form>
    
</div>

