@page
@model SimpleWebApp.UI.Pages.Signing_pages.SignUpPageModel
@{
}

<form method="post">
    <p>FirstName: <input name="FirstName" type="text"/> </p>
    <p>LastName: <input name="LastName" type="text"/></p>
    <p>UserName: <input name="UserName" type="text" /></p>
    <p>Password: <input name="PassWord" type="password" /></p>
    <p>BirthDate: <input name="BirthDate" type="date"/></p>
    <button class="btn-primary" type="submit">Sign Up</button>
</form>

@if (Model.ReturnedToPage == true)
{
    <h3>This username exists. Please try another one...</h3>
}